body {
  background-color: #F4F8F0;
  font-size: 15px;
  color: #322E2E;
}
.container {
  padding: 180px;
  max-width: 700px;
  margin-left: 50px;
}
h1 {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.Footer {
  margin-left: 50px
  padding: 100px;
}
h2 {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  color: #322E2E;
}
p {
  font-size: 25px;
  font-family: Lato;
  line-height: 125%;
}
a {
  color: #322E2E;

}
