body {
  background-color: #F4F8F0;
  font-size: 15px;
  color: #322E2E;
}
.container {
  padding: 130px 546px 35px 180px;
  max-width: 700px;
  margin-left: 50px;
}
h1 {
  font-family: Lato;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}
.Footer {
  margin-left: 50px
  padding: 100px;
}
h2 {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  color: #322E2E;
  text-align: center; 
}
p {
  font-size: 32px;
  font-family: Lato;
  line-height: 125%;
  font-weight: lighter;
  letter-spacing: .8px;
}
a {
  color: #322E2E;
  text-decoration: none;
  margin-right: 48px;
}
li {
  font-size: 24px;
  list-style: none;
}
.Links {
  display: inline-block;
  padding-top: 54px;
  font-family: Lato;
  font-size: 24px;
}
.hand {
  margin: -10px;
  text-align: center;
}